DB_HOST=localhost
DB_PORT=5433
DB_NAME=InoutDB
DB_USERNAME=postgres
DB_PASSWORD=Cycl0n3t@*+*

CLOUDINARY_CLOUD_NAME=dn8ki4idz
CLOUDINARY_API_KEY=411461764687417
CLOUDINARY_API_SECRET=GHJhWnvSFSwogFTQmrF6qmbWZiw

APP_PORT=3001